
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>Admin Area Index</h2>
        @Html.ActionLink("Link to the main area", "Index", "Customer", new { area = ""}, null)
    </div>
</body>
</html>
